body {
    margin: 0;
    background: #0d0d0d;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    text-align: center;
}

.title {
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 600;
}

.options {
    display: flex;
    gap: 30px;
}

.box {
    width: 280px;
    height: 280px;
    background: #ffffff10;
    border: 2px solid #ffffff20;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    backdrop-filter: blur(4px);
}

.box:hover {
    border-color: #facc15;
    transform: translateY(-6px);
}

.box h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
